.header {
  height: 120px;
  background-image: linear-gradient(0, #fe6433, #f53e2d);
  font-size: 1.4rem;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}
.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin-top: 7px;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
}
.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}
.header__navbar-item:nth-child(2) {
  cursor: default;
}
.header__navbar-item:hover:not(.header__navbar-item:nth-child(2)),
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.header__navbar-item--bold {
  font-weight: 400;
}

.header__navbar-item--separate::after {
  content: "";
  width: 1px;
  height: 1.4rem;
  background: #fb9086;
  position: absolute;
  right: -10px;
  top: 2px;
}
.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
  padding: 2px;
}

.header__navbar-icon {
  font-size: 1.6rem;
  margin: 0 4px;
}
.header__navbar-item--has-qr:hover .header__qr {
  display: block;
  animation: fadeIn ease-in 0.5s;
}
/* header QR code */
.header__qr {
  background-color: var(--white-color);
  width: 185px;
  position: absolute;
  margin-left: 47px;
  top: 150%;
  padding: 8px;
  border-radius: 2px;
  display: none;
}

.header__qr::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  display: block;
  /* background-color: #f53e2d; */
  left: 0;
  top: -15px;
}
.header__qr-img {
  width: 100%;
}
.header__qr-apps {
  display: flex;
  justify-content: space-between;
}
.header__qr-download-img {
  height: 16px;
}
.header__qr-download-img:nth-child(1) {
  margin-left: 10px;
}

.header__qr-download-img:nth-child(2) {
  margin-right: 10px;
}
.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}
/* Header notification */
.header__notify {
  position: absolute;
  margin-top: 8px;
  top: 125%;
  right: -0.6rem;
  width: 400px;
  border: 1px solid #d3d3d3;
  background-color: var(--white-color);
  cursor: default;
  display: none;
  transform-origin: calc(100% - 20px) top; /*Chinh tam cua tranfotm*/
  animation: notifyGrowth ease-in-out 0.25s;
}
.header__notify::before {
  content: "";
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 0px;
  top: -33px;
}
.header__notify::after {
  content: "";
  display: block;
  width: 100px;
  height: 30px;
  position: absolute;
  /* background-color: #757575; */
  right: 0;
  top: -15px;
}
@keyframes notifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
}
.header__notify-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 4rem;
  user-select: none;
}
.header__notify-list {
  padding-left: 0;
}
.header__notify-item {
  list-style: none;
}
.header__notify-item:hover {
  background-color: #f7f7f7;
}
.header__notify-item--viewed {
  background-color: rgba(238, 77, 45, 0.1);
}
.header__notify-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
  align-items: center;
}
.header__notify-img {
  width: 48px;
  object-fit: contain;
}
.header__notify-info {
  margin-left: 12px;
  /* line-height: 20px; */
}
.header__notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--black-color);
  font-weight: 400;
}
.header__notify-description {
  display: block;
  line-height: 1.6rem;
  font-size: 1.2rem;
  color: #757575;
}
.header__notify-footer {
  display: flex;
}
.header__notify-footer-btn {
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  padding: 8px 0;
  width: 100%;
  text-align: center;
}
